*{
padding:0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}


/*variables generales (color, tamaños, alturas)*/

:root{
    --color-primario: #857b2f;
    --color-clarito-primario: #c9c17a;
    --color-secundario: #C1E58E;
    --altura-header:240px;
    --texto-color-primario:#fff;
    --texto-color-secundario:#222;
    --fuente-titulos: 'Lucida Sans', 'Lucida Sans general', 'Lucida Grande', 'Lucida Sans Unicode' sans-serif;
}

.blanco{
    background-color: var(--texto-color-primario)!important;
}


header{
    height: var(--altura-header);
    background-color: var(--color-primario);
    color: var(--texto-color-primario);
    position: relative;
}
    .degradado{
        height: 100%;
        width:100%;

        background: linear-gradient(135deg, var(--color-primario), var(--color-secundario));
    }
    .bienvenida{
        left: 10%;
        bottom: 35px;
        position: absolute;
       
        padding: 1.5em 0;
        /*em equivale a 16 px*/
        font-family: var(--fuente-titulos);
        color: var(--texto-color-primario);
    }
    
    
    .buscador  {
        position: absolute;
        bottom:-25px;/*la mitad de height*/
        left: 10%;

        display: flex;
        justify-content: space-between;

        height: 50px;
        width: 80%;
       /* margin:auto;*/
        background-color: white;
        box-shadow: 0 6px 16px- -3px(0,0,0,0.5);

    }
    .buscador input[type="text"]{
       
        width: 100%;
        border:none;
        outline: none;
        padding-left: 1em;
    }

    
    .cuadrado-boton{
        height:50px;
        width: 50px;
        background-color: green;
    }

    .centrar{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .btn-buscar{
        background-color: transparent;
        border:none;
        outline: none;
        height: 50px;
        width: 50px;
    }

    .btn-buscar:hover{
        background-color: var(---color-secundario);
        cursor: pointer;
    }

main{
     padding-top: 3em;
    min-height: calc(100dvh - var(--altura-header));
    color: var(--texto-color-secundario);

}
.categorias{
    padding: 1em;
    height:100px;
    background-color: var(--texto-color-primario);
    justify-content: center;

    display: flex;
    gap: 2em;
    align-items: center;
    overflow-x: auto;

}

.item-categoria{
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5em;
    color:rgb(158, 157, 157);
    transition: all 0.3s ease-in;
}
.item-categoria:hover{
    background-color: var(--color-clarito-primario);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 3em;

}
